/* domain name section */

.single-post-section .single-post-list .postImg {
    overflow: hidden;
}
.single-post-section .single-post-list .postImg a {
  display: block;
}
.single-post-section .single-post-list .postImg img {
  -webkit-transition: .4s;
  transition: .4s;
  width: 100%;
  height: 425px;
  background-color: #f3ffea;
  border-top: 1px solid #d3f0d3;
  border-left: 1px solid #d3f0d3;
  border-right: 1px solid #d3f0d3;
  object-fit: cover;
}
.single-post-section .single-post-list:hover .postImg img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.single-post-section .single-post-list  .postContent {
  background: #f3ffea none repeat scroll 0 0;
  border: 1px solid #d3f0d3;
  color: #8894a1;
  font-size: 14px;
  padding: 30px 25px;
  line-height: 25px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}
.single-post-section .single-post-list .postTitle.h4 {
  font-family: 'proxima_novasemibold';
  font-size: 20px;
  margin-bottom: 10px;
  display: block;
}
.single-post-section .single-post-list .postDate {
  display: block;
  line-height: 14px;
  margin-bottom: 25px;
  font-style: italic;
}
.no-record-found{
  color:red;
  font-weight: 700;
  text-transform: capitalize;
  word-break: break-word;
}
.pageTitleArea{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/img/domain-marketing.jpg');
  background-size: cover;
  background-position:bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.pageTitleArea .h2{
  color:#fff;
}