.domainSearchArea {
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../assets/img/domainheader-4.jpg);
    background-size:cover;
  min-height:100%;
  background-position: top;
}
.domainSearchArea .domainSearchForm {
    margin: 0 50px 0px;
}
.domainSearchArea .domainSearchForm .domainInput {
    margin: 20px auto;
    width: 70%;
    position: relative;
}
.domainSearchArea .domainSearchForm .domainInput  .submit-btn{
    position: absolute;
    right: 5px;
    top:5px;
    background-image: linear-gradient(to right, #a5c963 0%, #4c9157 51%, #a5c963 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color:#ffffff;height: 43px;
    border-radius: 25px;
    letter-spacing: 1px;
    min-width: 98px;
    line-height: 30px;
}
.domainSearchArea .domainSearchForm .domainInput  .submit-btn.bgColorTrue{
    background-image:linear-gradient(to right,  #28a745 0%, #28a745 51%, #28a745 100%);
}
.domainSearchArea .domainSearchForm .domainInput  .submit-btn.bgColorFalse{
    background-image:linear-gradient(to right,  #dc3545 0%, #dc3545 51%, #dc3545 100%);
}
.domainSearchArea .domainSearchForm .domainInput  .submit-btn:hover{
    background-position: right center;
}
.domainSearchArea .domainSearchForm input.serach {
    width: 100%;
    border-radius: 25px;
    margin-bottom: 0;
}
.domainSearchArea .domainSearchForm input.serach::placeholder,.domainSearchArea .domainSearchForm input.serach::-webkit-input-placeholder{
    color:#9aadbf;
}
.domainSearchArea  .domainCheck .domain-check-horizontal li{
    padding: 2px 1.25rem;
    text-align: center;
    background: transparent;
    margin-bottom: 10px;
}
.domainSearchArea  .domainCheck .domain-check-horizontal li:focus{
    outline: none;
}
.domainSearchArea  .domainCheck .domain-check-horizontal li a{
    color: #9aadbf;
    transition: 0.2s all ease-in-out;
}
.domainSearchArea  .domainCheck .domain-check-horizontal li a:hover{
    color: #70a84c;    cursor:pointer;
}
.domainSearchArea  .domainCheck .domain-check-horizontal li.domain-active a{
    color: #70a84c;
    cursor:unset;
}
.addtocarticon{
    cursor: pointer;
}
.addtocartactive i{
    color:#ffb365;
}
.expired-domain-all{
    padding-top: 50px;
}
.expired-domain-all  .card-body{
    overflow-y: visible;
}
.expired-domain-all  .card-body:after{
    content:'';
    position: absolute;
    width: 100%;
    height:1px;
    background-color:#dee2e6;
}
.expired-domain-all  .card-body.loadersection{
    padding: 20px 0;
}
.expired-domain-all  .card-body.loadersection:after {
    content:'';
    position: absolute;
    width: 100%;
    height:1px;
    background-color:transparent;
}
.expired-domain-all .card-header {
    background-color: transparent;
}
.expired-domain-all .card-header h4 span {
color:#70a84c;
}
.expired-domain-all img{
    width: 100%;
    }

   .expired-domain-all  .category-nav-button{
        font-size: 20px;
    }
    .expired-domain-all .category-list  li{
        position: relative;
        padding: 1rem 1rem 1rem 2rem;
    }
    .expired-domain-all .category-list  li .addtocarticon{
        display: block;
        cursor: pointer;
        position: absolute;top: 50%;
        left: 13px;
        margin-top: -9px;
        cursor: pointer;
        text-align: center;
    }
    .expired-domain-all .category-list  li:hover{
        color:#ffffff;
        background-color: #70a84c;
        height: 52px;
        padding: 1rem 1rem 1rem 0rem;
        /* margin-left: 2rem; */
    }
    .expired-domain-all .category-list  li:hover a {
     background-color: #70a84c;
        color: #ffffff;display: inline-flex;z-index: 111; 
        position: absolute;overflow: visible;
        vertical-align: middle;
        align-self: center;
        padding: 1rem 0;
        top: 0;
    }
    
    .expired-domain-all .category-list  li a{
        color:#7a828a;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        min-width: 100%; white-space: nowrap;
    }
    .expired-domain-all .category-list  li a .domain-names{
        display: inline-block; 
        padding-left: 10px;    overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
    }
    
    .expired-domain-all .category-list  li:hover a  .domain-names{
        overflow: visible;
        padding-left: 42px;    
    }
    .expired-domain-all .category-list  li:hover .addtocarticon{
            color:#ffffff;
            z-index: 1111;
    }
        .expired-domain-all .category-list  li .addtocarticon i:hover{
            color:#ffb365;
        }
    
        .expired-domain-all .category-list  li .addtocartactive i{
        color:#ffb365;
        }

        .expired-domain-all .category-list  li a .order-button{
        font-weight: bold;
        color:#00b7ff;
        display: inline-block;
        font-size: 18px;
        padding-left: 10px;
        }
        .expired-domain-all .category-list  li.no-item{
            font-size: 20px;
            color: #dc3545;
        }
        .expired-domain-all .category-list  li:hover.no-item{
            background-color: unset;
            padding: 1rem 1rem 1rem 2rem;
        }
        .expired-domain-all .category-list  li:hover a .order-button{
            color:#fff;
            padding-right: 16px;
            padding-left: 30px;
        }
    
            @media only screen and (max-width: 991px) and (min-width: 0px){
                .expired-domain-all h4{
            font-size: 20px;
                }
                .domainSearchArea .domainSearchForm .domainInput {
                    width: 100%;
                }
            }
            @media only screen and (max-width: 767px) and (min-width: 0px){

            .domainSearchArea .domainCheck .domain-check-horizontal{
                flex-wrap: wrap;
            }
            .domainSearchArea .domainSearchForm {
                margin: 0px;
            }
            }
