<!-- ======= 3.01 Domain Area ====== -->
<div class="domainSearchArea">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 clearfix">
                <form class="domainSearchForm  animated" >
                    <div class="domainInput">
                        <input  #input class="serach" type="search" name="search" placeholder="Search your domain" [value]="searchValue" (keyup)="onKey($event)" (keydown)="onKeyDown($event)" #searchvalue >
                        <!-- <input class="submit" type="submit" name="submit" value="Search Domain"> -->
                        <a class="btn submit-btn" type="submit" *ngIf="!expiredomainall" (click)="onSubmit(searchvalue.value)">Search</a>
                        <a class="btn submit-btn" type="submit" *ngIf="expiredomainall && expiredomainall.domainAvailability?.available == true" [class.bgColorTrue]="expiredomainall.domainAvailability?.available == true " href="#">Buy</a>
                        <a class="btn submit-btn" type="submit" *ngIf="expiredomainall && expiredomainall.domainAvailability?.available == false" [class.bgColorFalse]="expiredomainall.domainAvailability?.available == false " href="#">Whois</a>
                        <div class="spinner-border text-warning loading-icon" *ngIf="loader" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                    </div>
                    <div class="domainCheck">
                        <ul class="list-group domain-check-horizontal flex-row justify-content-center">
                          <li class="list-group-item border-top-0  border-bottom-0 border-left-0 border-right" [routerLink]="['/search']" [routerLinkActive]="['domain-active']"  [queryParams]="{ search: searchvalue.value}" queryParamsHandling="merge"><a >All</a></li>
                          <li class="list-group-item border-top-0  border-bottom-0 border-left-0  border-right" [routerLink]="['/topdomain']" [routerLinkActive]="['domain-active']" [queryParams]="{ search: searchvalue.value}" queryParamsHandling="merge"><a >Top domains</a></li>
                          <li class="list-group-item border-top-0  border-bottom-0 border-left-0  border-right" [routerLink]="['/domainsuggestion']" [routerLinkActive]="['domain-active']" [queryParams]="{ search: searchvalue.value}" queryParamsHandling="merge"><a >Domain suggestion</a></li>
                          <li class="list-group-item border-top-0  border-bottom-0 border-left-0  border-right" [routerLink]="['/domainauction']" [routerLinkActive]="['domain-active']" [queryParams]="{ search: searchvalue.value}" queryParamsHandling="merge"><a >Domain auction</a></li>
                          <li class="list-group-item border-0" [routerLink]="['/expireddomain']" [routerLinkActive]="['domain-active']" [ngClass]="{'domain-active': activeEnabled == true}" [queryParams]="{ search: searchvalue.value}" queryParamsHandling="merge"><a >Expired domain</a></li>
                          </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section  class="expired-domain-all" >
    <div class="container">
<div class="row"><div class="col-md-12  mb-5 pb-2 ">


    <div class="card border-0">
        <div class="card-header border-0 pl-0 pr-0">
            <h4 class="float-left mt-2">Expired Domain</h4>

        </div>
        <div class="card-body align-items-center border-top border-left border-right p-0" *ngIf="expiredomainall">
            <ul class="list-group  category-list flex-wrap flex-row border-0"  *ngIf="expiredomainall.expireddomain || expiredomainall.expireddomain?.length > 0">
                <li class="list-group-item flex-grow-2 col-4 border-0" *ngFor="let expired of expiredomainall.expireddomain">
                    <span class="addtocarticon"  (click)="addtocart(expired.domain_name)" [class.addtocartactive]="localdomainname(expired.domain_name) == true">  <i class="fa fa-star mr-2"></i></span>
                     <a href="#"><div class=" domain-names">
                         {{expired.domain_name}}
                        </div>
                        <p class="float-right order-button  mb-0">Order</p>
                     </a>
            
                    </li>
            </ul>
                <ul class="list-group  category-list" *ngIf="!expiredomainall.expireddomain || expiredomainall.expireddomain?.length === 0">
                    <li class="list-group-item no-item"> Not Available</li>
                    </ul>
        </div>
        <div class="card-body loadersection align-items-center p-0 mt-5" *ngIf="!expiredomainall">

                <h4>Loading...</h4>

            </div>
      </div>
      </div>
      </div>
    </div>
      </section>
