<div class="popular-or-trending-section">
  <div class="popular-or-trending-header-title">
  <h4>{{pageTitle}}</h4>
</div>
<div class="popular-or-trending-body">
  <ul class="list-group custom-panel mb-3">
    <li class="list-group-item" *ngFor="let searchData of searchPopularOrTrendings | slice:0:showList ; let i = index;">
    <div class="pull-left right-content">
        <a href="#">{{searchData.keyword}}</a>
        <div class="posted-date" *ngIf="searchData.period != ''">
        <em><i class="fa fa-clock-o"></i> {{searchData.period}}</em>
        </div>
        </div>
        <span class="badge badge-success badge-custom-color badge-pill" *ngIf="searchData.total_count != ''">{{searchData.total_count}}</span>
        <span class="badge badge-custom-color2 badge-pill" *ngIf="searchData.trend_percent != ''">{{searchData.trend_percent}}</span>
    </li>
    <li class="no-record-found" *ngIf="errorResponse">
      {{errorResponse}}
    </li>
</ul>
</div>
</div>