.popular-or-trending-section .popular-or-trending-header-title{
  text-transform: uppercase;
  }
  .popular-or-trending-section .popular-or-trending-header-title h4{
      font-size: 20px;
      font-family: "proxima_nova_rgbold";
  }
  .popular-or-trending-section .popular-or-trending-body .custom-panel{
      border: 1px solid #d3f0d3;
      background-color: #f3ffea;
      margin-bottom: 30px !important;
  }
  .popular-or-trending-section .popular-or-trending-body li{
    width: 100%;
    padding: 12px 10px;
    border-left:0;
    border-right:0;
    border-top:0;
    background: transparent;
    border-bottom: 1px dotted #dee2e6;
    letter-spacing: 1px;
  }
  .popular-or-trending-section .popular-or-trending-body li:last-child{
    border-bottom:0;
  
  }
  
  .popular-or-trending-section .popular-or-trending-body li .popular-article-img{
  max-width: 50px;
  height:50px;
  width: 25%;
  object-fit: cover;
  border-radius: 50px;
  }
  .popular-or-trending-section .popular-or-trending-body li .right-content{
      width: 75%;
      padding-left: 10px;
      padding-top: 3px;
  }
  .popular-or-trending-section .popular-or-trending-body li .right-content .posted-date{
  color:#7a828a;
  font-weight: 400;
  padding-top: 5px;
  font-size: 12px;
  font-family: "proxima_novalight";  
  }
  .popular-or-trending-section .popular-or-trending-body li a{
  color:#233141;
  /* font-family: 'proxima_novasemibold'; */
  font-family: "proxima_novalight";
  font-weight: 900;
  }
  .popular-or-trending-section .popular-or-trending-body li a:hover{
    color:#70a84c;
  }
  .popular-or-trending-section .popular-or-trending-body li .badge-custom-color{
    background-color:#70a84c;
  }
  .popular-or-trending-section .popular-or-trending-body li .badge-custom-color2{
   color:#70a84c;
   margin-top: 8px;
   padding: 0;
  }
  .no-record-found{
    color:red;
    font-weight: 700;
    text-transform: capitalize;
    word-break: break-word;
  }