/*
*******************************************
*******************************************

@File: Spark Theme Styles

* This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.

This files contents are outlined below>>>>>

*******************************************
*******************************************

==== INDEX PAGE CSS

** - Browser Reset + Common Styles.
** - Home Page Styles.

** - About Page Styles.
** - Domain Search Page Styles.
** - WebHosting Page Styles.
** - Testimonial Page Styles.
** - Domain Manage Page Styles.
** - Account Manage Page Styles.
** - Hosting Manage Page Styles.
** - Faq Page Styles.
** - Contact Page Styles.
** - Cart Page Styles.
** - Checkout Page Styles.
** - Blog Page Styles.
** - Single-Blog Page Styles.
** - Support Page Styles.
** - ComingSoon Page Styles.
** - 404 Page Styles.
** - Home Page V1 Styles.
** - Home Page V2 Styles.
** - Home Page V3 Styles.
** - Home Page V4 Styles.
** - Home Page RTL Version Styles.




*/

/*
*****************************************
>>> |Imported Css|
*****************************************
*/

@import url("../bootstrap.min.css");
@import url("../font-awesome.min.css");
@import url("../animate.min.css");
@import url("../../fonts/webfonts/fonts.css");
@import url("../icofont.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
/* @import url("../responsive/responsive.css"); */
/*
*****************************************
>>> | Browser Reset & Common CSS|
*****************************************
*/

* {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 10px 0;
}
p{
    text-align: justify;
}
h1,
.h1 {
    font-family: 'proxima_nova_rgbold';
}

h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: 'proxima_novasemibold';
    margin: 0 0 10px 0;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none !important;
    outline: none !important
}

input {
    outline: none !important;
}

body {
    font-family: 'proxima_nova_rgregular';
    font-size: 15px;
    line-height: 20px;
    color: #738191;
    padding: 100px 0 0 0;
}

.floatleft {
    float: left !important;
}

.floatright {
    float: right !important;
}

.static {
    position: static !important;
}

.fixed {
    position: fixed !important;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

span {
    display: inline-block
}

img {
    max-width: 100%
}

a:hover {
    color: #70a84c;
}
.Btn {
    line-height: 50px;
    display: inline-block;
    font-size: 13px;
    font-family: 'proxima_nova_rgbold';
    text-transform: uppercase;
    padding: 0 25px;
    color: #fff;
    border-radius: 4px;
    min-width: 180px;
    text-align: center
}

.Btn i {
    margin-right: 15px
}

.Btn:hover {
    color: #fff
}

.secPdng {
    padding: 90px 0
}

.secPdngB {
    padding-bottom: 90px
}

.secPdngT {
    padding-top: 60px
}
.secMargT {
    margin-top: 60px
}
.padTopNone {
    padding-top: 0;
}

.padBtmNone {
    padding-bottom: 0
}

.sectionTitle {
    margin-bottom: 60px;
    text-align: center
}

.sectionTitle .h2 {
    font-size: 30px;
    line-height: 40px;
    margin: 0
}

.sectionBar {
    height: 1px;
    width: 100%;
    background: #EAEAEA
}

.pageTitle .h2 {
    font-size: 26px;
    font-family: 'proxima_nova_rgbold';
}

.pageTitle {
    padding: 40px 0;
}

.pageTitleArea {
    background: #f6fbff none repeat scroll 0 0;
}

.pageIndicate {
    list-style: outside none none;
    margin: 0;
}

.pageIndicate > li {
    display: inline-block;
}

.pageIndicate a {
    color: #8ba1b9;
    display: inline-block;
    position: relative;
    -webkit-transition: .4s;
    transition: .4s;
}

.pageIndicate a::after {
    content: "/";
    margin-left: 6px;
}

.pageIndicate > li:last-child a::after {
    content: "";
}

.pageIndicate a:hover {
    color: #233141;
}


/*preloader*/

.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999999;
    top:0;
    left:0;
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #fff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {

    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {

    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

header .langIcon {
    font-size: 13px;
    line-height: 30px;
    font-family: 'proxima_novasemibold';
    cursor: pointer;
    margin: 10px 0;
    padding: 0 15px;
}

header .lang {
    margin: 0;
    position: absolute;
    width: 200px;
    list-style: none;
    background: #fff;
    top: 50px;
    left: 70px;
    text-align: center;
    box-shadow: 0 0 5px RGBA(0, 0, 0, 0.4);
    z-index: 2;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s ease-in-out 0s;
    -o-transition: all .4s ease-in-out 0s;
    transition: all .4s ease-in-out 0s;
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
    z-index: 12
}

header .lang.clicked {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

header .lang li {
    display: block;
    line-height: 40px;
    margin-bottom: 1px;
    text-transform: capitalize;
    background: #f1f1f1;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
}

header .langIcon i {
    margin-left: 10px
}

header .topInfo {
    list-style: outside none none;
    margin: 0;
    text-align: right
}

header .topInfo li {
    display: inline-block;
}

header .topInfo li a {
    display: inline-block;
    font-size: 13px;
    line-height: 50px;
    font-family: 'proxima_novasemibold';
    margin-left: 30px
}

header .topInfo li span i,
header .topInfo li a i {
    margin-right: 15px;
}

header .topInfo li.clientAreaLi span {
    padding: 0 30px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    line-height: 50px;
    font-size: 13px;
    line-height: 50px;
    font-family: 'proxima_novasemibold';
    margin-left: 30px
}

header .headerTopArea {
    border-bottom: 1px solid #ebebeb
}

.v2 header .headerTopArea {
    background: #70a84c
}

header .headerlogo {
    display: inline-block;
    height: 37px;
    position: relative;
    z-index: 9
}

header .headerlogo img {
    height: 100%;
}

header .headerBottomArea {
    padding: 30px 0;
    border-bottom: 1px solid #eaeaea;
}

.navbar-toggle {
    color: #70a84c;
    font-size: 20px;
    margin: 0;
    background: transparent;
    padding: 5px;
    border: none;
    outline: 5px auto -webkit-focus-ring-color;
    cursor: pointer;
}

header nav#navbar > ul {
    text-align: right;
    margin-bottom: 0;
    padding-right: 4px
}

header nav#navbar ul > li {
    display: inline-block;
    position: relative
}

header nav#navbar ul > li > a {
    color: #9aadbf;
    display: inline-block;
    font-size: 13px;
    line-height: 37px;
    padding: 0 15px;
    text-transform: uppercase;
    font-family: 'proxima_novasemibold';
    -webkit-transition: .4s;
    transition: .4s;
}

header nav#navbar ul > li.subPar > a:after {
    margin-left: 10px;
    content: '\f107';
    font-family: 'fontawesome'
}

header nav#navbar ul.sub-menu > li.subPar > a:after {
    margin-left: 10px;
    content: '\f107';
    font-family: 'fontawesome';
    position: absolute;
    right: 20px
}

.sub-menu {
    z-index: 9999999999 !important
}

@media only screen and (min-width: 992px) and (max-width: 6000px) {


    header nav#navbar > ul {
        border-right: 1px solid #e4e9f0;
    }

    header nav#navbar ul > li::before {
        background: transparent;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 100%;
        width: 100%;
    }

    header nav#navbar ul.sub-menu > li.subPar > a:after {
        content: '\f105';
    }

    header nav#navbar ul > li ul li:before {
        display: none
    }

    #nav > li > ul.sub-menu {
        left: 0;
        position: absolute;
        text-align: left;
        top: 50px;
        width: 270px;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
    }

    #nav > li:nth-child(5) > ul.sub-menu,
    #nav > li:nth-child(6) > ul.sub-menu,
    #nav > li:nth-child(7) > ul.sub-menu,
    #nav > li:nth-child(8) > ul.sub-menu,
    #nav > li:nth-child(9) > ul.sub-menu,
    #nav > li:nth-child(10) > ul.sub-menu,
    #nav > li:nth-child(11) > ul.sub-menu {
        right: 0;
        left: auto
    }

    #nav > li:nth-child(4) > ul.sub-menu > li > .sub-menu,
    #nav > li:nth-child(5) > ul.sub-menu > li > .sub-menu,
    #nav > li:nth-child(6) > ul.sub-menu > li > .sub-menu,
    #nav > li:nth-child(7) > ul.sub-menu > li > .sub-menu,
    #nav > li:nth-child(8) > ul.sub-menu > li > .sub-menu,
    #nav > li:nth-child(9) > ul.sub-menu > li > .sub-menu,
    #nav > li:nth-child(10) > ul.sub-menu > li > .sub-menu,
    #nav > li:nth-child(11) > ul.sub-menu > li > .sub-menu {
        right: 100%;
        left: auto
    }

    #nav > li:hover > ul.sub-menu {
        opacity: 1;
        visibility: visible;
    }

    #nav > li > ul.sub-menu li {
        border-right: 2px solid;
        border-left: 2px solid;
        background: transparent;
        -webkit-transform: translateY(60px);
        transform: translateY(60px);
        -webkit-transition: all .4s ease-in-out 0s;
        -o-transition: all .4s ease-in-out 0s;
        transition: all .4s ease-in-out 0s;
    }

    #nav > li ul.sub-menu li:first-child {
        border-top: 2px solid #70a84c;
    }

    #nav > li ul.sub-menu li:last-child {
        border-bottom: 2px solid #70a84c;
    }

    #nav > li:hover ul.sub-menu li {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: #fff;
    }

    #nav > li ul.sub-menu > li > .sub-menu {
        left: 100%;
        position: absolute;
        text-align: left;
        top: -2px;
        width: 270px;
        z-index: 2;
        opacity: 0;
        -webkit-transition: all .4s ease-in-out 0s;
        -o-transition: all .4s ease-in-out 0s;
        transition: all .4s ease-in-out 0s;
        visibility: hidden;
    }

    #nav > li > ul.sub-menu li:hover ul.sub-menu {
        opacity: 1;
        visibility: visible;
    }

    #nav > li ul.sub-menu li .sub-menu li {
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        visibility: hidden
    }

    #nav > li ul.sub-menu li:hover .sub-menu li {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        visibility: visible
    }

    #nav > li ul.sub-menu li {
        border-bottom: 1px solid #e9e9e9 !important;
        display: block;
        line-height: 50px;
        position: relative
    }

    #nav > li ul.sub-menu li a {
        display: block;
        line-height: 50px;
        padding-left: 40px;
        position: relative;
    }

    #nav > li ul.sub-menu li a::before {
        content: "";
        font-family: "icofont";
        left: 15px;
        position: absolute;
    }

    header nav#navbar ul > li.current-menu-item > a,
    header nav#navbar ul > li > a:hover {
        color: #233141
    }

    #nav > li ul.sub-menu li:last-child {
        border-bottom: 2px solid #70a84c !important
    }
}



@media only screen and (min-width: 0px) and (max-width: 991px) {
    .menuCol {
        position: relative;
    }

    .navbar-header {
        position: absolute;
        right: -30px;
        top: 2px;
        z-index: 9;
    }

    header nav#navbar {
        background: #233141;
        position: absolute;
        right: -30px;
        top: 67px;
        width: 280px;
        z-index: 3;
        border: 10px solid RGBA(255, 255, 255, 0.12);
        margin-right: 0
    }

    .sub-menu {
        background: #192C41;
        border-left: 5px solid #70a84c;
        display: none
    }

    .sub-menu .sub-menu {
        background: #26415F;
        border-left: 0;
        border-left: 2px solid #fff
    }

    .subPar.active > .sub-menu {
        display: block;
    }

    header nav#navbar ul {
        margin: 0;
    }

    .navbar-toggle {
        color: #70a84c;
        font-size: 20px;
        margin: 0;
    }

    header nav#navbar ul li > a {
        border-top: 1px solid RGBA(255, 255, 255, 0.1);
        color: #fff;
        display: block;
        line-height: 45px;
        padding-left: 25px;
        text-align: left;
    }

    header nav#navbar ul li {
        display: block;
    }

    header nav#navbar ul > li:first-child > a {
        border: medium none;
    }

    header nav#navbar ul > li.subPar > a:after {
        right: 20px;
        position: absolute
    }


}

header a.cart {
    color: #8697aa;
    font-size: 17px;
    line-height: 37px;
    overflow: hidden;
    display: block;
}

header a.cart .count {
    border-radius: 3px;
    float: right;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    margin: 8px 0 0 12px;
    text-align: center;
    vertical-align: middle;
    width: 22px;
    font-family: 'proxima_nova_rgbold';
}

header a.cart i {
    display: inline-block;
    float: right;
    line-height: 37px;
    vertical-align: middle;
}

/*
*****************************************
>>> | cta Area Css |
*****************************************
*/

.ctaTxt {
    color: #7a828a;
    font-family: "proxima_novalight";
    font-size: 17px;
    line-height: 30px;
    display: table;
}

.ctaTxt p {
    margin: 0;
}

.ctaTxt .Btn {
    margin-top: 40px;
}



/*
*****************************************
>>> | Footer Area Css |
*****************************************
*/

.footerLogo {
    display: block;
    margin-bottom: 5px;
}

.footerTxt {
    font-size: 14px;
    line-height: 26px;
}

.footerTxt > p {
    margin: 0;
}

.footerTxt {
    margin-bottom: 35px;
}

.footerLinkIcon {
    margin: 0;
}

.footerLinkIcon li {
    display: inline-block;
    list-style: outside none none;
}

.footerLinkIcon li a {
    border: 1px solid;
    border-radius: 50%;
    color: #a0a0a0;
    display: inline-block;
    height: 32px;
    line-height: 30px;
    margin-right: 4px;
    text-align: center;
    width: 32px;
    -webkit-transition: .4s;
    transition: .4s;
}

.footerLinkIcon li:last-child a {
    margin: 0;
}

.widget .h4,
.contactInfo .h4 {
    font-family: "proxima_nova_rgbold";
    font-size: 18px;
    margin-bottom: 30px;
    text-transform: capitalize;
    margin-top: 30px;
}

.footerLink {
    list-style: outside none none;
    margin: 0;
}

.footerLink > li a {
    color: #868f9a;
    display: inline-block;
    font-family: "proxima_novasemibold";
    line-height: 32px;
    -webkit-transition: .4s;
    transition: .4s;
    font-size: 14px;
}

.contactInfo span a {
    color: #868f9a;
    display: block;
    font-family: "proxima_novasemibold";
    line-height: 35px;
    -webkit-transition: .4s;
    transition: .4s;
    font-size: 14px;
}

.footerLink > li a:hover,
.contactInfo span a:hover {
    /* text-decoration: underline !Important */
}

.contactInfo span {
    display: block;
}

.contactInfo span a i {
    margin-right: 15px;
}

.contactBtn.Btn {
    margin-top: 30px;
}

.copyrightTxt {
    color: #9fa3a8;
    line-height: 24px;
    padding: 50px 0 40px;
    font-size: 14px
}

.copyrightTxt p {
    margin: 0;
}


.contactForm .contactSubmit + div {
    background: transparent none repeat scroll 0 0;
    line-height: 24px;
    margin-left: 20px;
    margin-right: 0;
    padding: 13px 0;
    width: auto;
}

.contactForm .contactSubmit + div.success {
    color: green;
}

.contactForm .contactSubmit + div.error {
    color: red;
}

.contactForm .contactSubmit + div.success:before {
    content: "";
    font-family: fontawesome;
    margin-right: 5px;
}

.contactForm .contactSubmit + div.error:before {
    content: "\f06a ";
    font-family: fontawesome;
    margin-right: 5px;
}

/********************************/

/*domainPage*/

/********************************/

.domainSearchArea .domainSearchForm {
    margin: 0 50px 70px;
}

.domainSearchArea .domainSearchForm input.serach {
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    color: #9cb0c2;
    float: left;
    line-height: 50px;
    padding-left: 25px;
    width: 79%;
    -webkit-transition: .4s;
    transition: .4s;
}

.domainSearchArea .domainSearchForm .domainInput {
    margin-bottom: 20px;
    overflow: hidden;
}

.domainSearchArea .domainSearchForm input.submit {
    border: medium none;
    border-radius: 4px;
    float: right;
    font-family: "proxima_nova_rgbold";
    font-size: 15px;
    line-height: 52px;
    text-transform: uppercase;
    width: 20%;
}

.domainSearchArea .domainCheck span > input + label {
    background: #e9e9e9 none repeat scroll 0 0;
}

ul.domains {
    list-style: outside none none;
    margin: 0;
}

.availableDomain.clearfix {
    background: #233141 none repeat scroll 0 0;
    display: block;
    padding: 35px;
    border-bottom: 2px solid
}

.aDomainLeft.clearfix {
    display: inline-block;
    float: left;
    min-width: 300px
}

.aDomainLeft .checkIcon {
    background: #2ecc71 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 17px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 45px;
}

.DomainName {
    display: inline-block;
    margin-left: 25px;
}

.DomainName .h3 {
    color: #fff;
    font-size: 22px;
    margin: 0;
}

.DomainName > span {
    color: #2ecc71;
}

.domainBtn.clearfix {
    float: right;
}

.domainBtn .Btn.btnCart {
    background: #2ecc71 none repeat scroll 0 0;
    margin-right: 8px;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}

.btnCart.Btn.added {
    background: #ea5d5d
}

.btnCart.Btn .added {
    display: none;
}

.btnCart.Btn.added .add {
    display: none;
}

.btnCart.Btn.added .added {
    display: block;
}

li.singleDomain {
    background: #f6fbff none repeat scroll 0 0;
    overflow: hidden;
    padding: 35px;
    border: 1px solid #e1effa;
    border-top: none
}

.domains li:nth-child(2) {
    border-top: 2px solid #e1effa;
}

.h4.singleDomainName {
    float: left;
    margin: 0;
    position: relative;
    padding-left: 40px;
    line-height: 40px
}

.singleDomainRight {
    float: right;
}

.singleDomain a.cartBtn {
    background: #2ecc71 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-family: "proxima_nova_rgbold";
    font-size: 12px;
    line-height: 40px;
    padding: 0 20px;
    text-transform: uppercase;
    -webkit-transition: .4s;
    transition: .4s;
}

.singleDomain a.cartBtn .added {
    display: none;
}

.singleDomain a.cartBtn.added {
    background: #ea5d5d
}

.singleDomain a.cartBtn.added .added {
    display: block;
}

.singleDomain a.cartBtn.added .add {
    display: none;
}

.h4.singleDomainName::before {
    background: #cadae6 none repeat scroll 0 0;
    border-radius: 4px;
    content: "";
    height: 16px;
    left: 0;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}

.active .h4.singleDomainName::before {
    content: "\ed27";
    font-family: "icofont";
    font-size: 7px;
    line-height: 16px;
    text-align: center;
}

h4.price {
    display: inline-block;
    margin: 0 11px 0 0;
}

.price del {
    color: #233141;
    font-size: 14px;
    margin-right: 15px;
}

.domainCtaArea {
    padding: 55px 0;
}

.domainCta .h2 {
    color: #fff;
    display: inline-block;
    line-height: 45px;
    margin: 0 120px 0 0;
}

.domainCta .Btn.ctaBtn {
    line-height: 45px;
    vertical-align: top;
}

.domainCta {
    text-align: center;
}


/******************************************/

/*contact*/

/******************************************/

.contactTxt > p {
    margin: 0;
    line-height: 30px
}

.contactTxt {
    margin-bottom: 50px;
}

.contactForm > div {
    background: #f6fbff none repeat scroll 0 0;
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 47%;
}

.contactForm {
    overflow: hidden;
}

.contactForm > div > * {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #dbe5f0;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    width: 100%;
    -webkit-transition: .4s;
    transition: .4s;
}

.contactSelect select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: #97a9be;
}

.contactForm .contactSelect {
    position: relative;
    z-index: 1;
}

.contactForm .contactSelect::before {
    color: #a5b8ce;
    content: "";
    font-family: "icofont";
    height: 100%;
    line-height: 50px;
    position: absolute;
    right: 15px;
    top: 0;
    z-index: -1
}

.contactForm .contactMsg {
    height: 150px;
    width: 97%;
}

.contactForm .contactMsg textarea {
    height: 100%;
    line-height: 24px;
    padding-top: 15px;
    padding-right: 15px
}

.contactForm .contactSubmit {
    margin: 0;
    width: 210px;
    border-radius: 3px;
}

.contactForm .contactSubmit input {
    border: medium none;
    color: #fff;
    padding: 0;
}

.contactForm *::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #97a9be;
    opacity: 1
}

.contactForm *::-moz-placeholder {
    /* Firefox 19+ */
    color: #97a9be;
    opacity: 1
}

.contactForm *:-ms-input-placeholder {
    /* IE 10+ */
    color: #97a9be;
    opacity: 1
}

.contactForm *:-moz-placeholder {
    /* Firefox 18- */
    color: #97a9be;
    opacity: 1
}

.contactInfoCell {
    border-left: 1px solid #f2f2f2;
    margin-left: 10px;
    padding-left: 50px;
    margin-top: 36px
}

.contactInfoCell .h4 {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'proxima_nova_rgbold'
}

.singleInfo {
    margin-top: 40px;
}

.singleInfo:first-child {
    margin-top: 0;
}

.singleContactInfo > span {
    color: #222;
    font-family: "proxima_nova_rgbold";
    font-size: 15px;
    width: 110px;
    margin-bottom: 6px;
}

.singleContactInfo > a {
    color: #222;
    font-family: "proxima_novasemibold";
    font-size: 14px;
}

.singleInfo:last-child .singleContactInfo > span {
    width: 180px;
}

#googleMap {
    background: grey;
    height: 550px;
    width: 100%;
}

.hTstArea {
    background: #f0f5fa
}


/*******************************************/

/*cart page*/

/*******************************************/

.cartTable {
    list-style: outside none none;
    margin: 0;
}

.cartTable > li {
    display: block;
    border: 1px solid #eff2f4;
    border-top: none;
    color: #242424;
    font-family: 'proxima_novasemibold'
}

.cartTable > li > div {
    border-left: 1px solid #eff2f4;
    display: inline-block;
    float: left;
    width: 20%;
    padding: 20px 0 20px 30px;
    line-height: 30px
}

.cartTable > li > div.product {
    width: 40%;
}

.cartTable > li > div:first-child {
    border-left: medium none;
}

.cartTable > li.cartHead div {
    line-height: 30px;
    padding: 10px 0 10px 30px;
    text-transform: capitalize;
}

span.closeIcon {
    cursor: pointer;
    float: left;
    font-size: 14px;
    line-height: 30px;
    margin-left: -15px;
    margin-right: 80px;
    padding: 0 5px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

span.closeIcon:hover {
    color: #ea5d5d;
}

.pTxt {
    position: relative;
}

.pTxt::before {
    content: "";
    height: 60px;
    left: 20px;
    position: absolute;
    top: -15px;
    width: 35px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat
}

.category-host .pTxt:before {
    background-image: url(../../img/icon/cart-host.png);
}

.category-domain .pTxt:before {
    background-image: url(../../img/icon/cart-domain.png);
}

.duration > span {
    border: 1px solid #a8b9c9;
    cursor: pointer;
    line-height: 28px;
    padding: 0 10px;
    position: relative;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 80px;
}

.duration > span::before {
    color: #a8b9c9;
    content: "";
    font-family: "icofont";
    height: 100%;
    position: absolute;
    right: 9px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: auto;
}

.duration > span:hover::before {
    color: #fff;
}

.cartOpt {
    left: 115px;
    margin: 0;
    position: absolute;
    top: 51px;
    z-index: 9;
    list-style: none;
    border: 6px solid #fff;
    box-shadow: 0 0 8px RGBA(0, 0, 0, 0.41);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    visibility: hidden;
    -webkit-transition: .4s;
    transition: .4s;
    opacity: 0
}

.duration {
    position: relative;
}

.cartOpt > li {
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    width: 150px;
    border-bottom: 1px solid RGBA(255, 255, 255, 0.15);
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
}

.cartOpt.active {
    -webkit-transform: scale(1);
    transform: scale(1);
    visibility: visible;
    opacity: 1
}

.cartTable li.coupon {
    border: medium none;
    font-size: 14px;
}

.couponForm > input {
    border-color: #eff2f4;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    line-height: 50px;
    padding-left: 20px;
    width: 245px;
    font-family: 'proxima_novasemibold'
}

.couponForm > button {
    background: #233141 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    line-height: 52px;
    margin-left: -4px;
    width: 145px;
    font-family: 'proxima_nova_rgbold';
}

.cartTotal {
    background: #f6fbff none repeat scroll 0 0;
    border: 1px solid #e8edf2;
    border-radius: 2px;
    margin-left: -30px;
    padding: 35px 30px;
    margin-top: 30px
}

.cartTotal .h4.title {
    font-family: "proxima_nova_rgbold";
    font-size: 20px;
    margin-bottom: 45px;
}

.cartTotal > div {
    color: #233141;
    font-family: "proxima_nova_rgbold";
    margin-bottom: 25px;
}

.cartTotal span + span {
    float: right;
}

.totalBtn {
    display: inline-block;
    font-family: "proxima_nova_rgbold";
    line-height: 60px;
    padding: 0 30px;
    border: none
}

.totalBtn i {
    display: inline-block;
    font-size: 25px;
    line-height: 60px;
    margin-left: 10px;
    vertical-align: top;
    -webkit-transition: .4s;
    transition: .4s;
}

.totalBtn:hover i {
    -webkit-transform: translateX(4px);
    transform: translateX(4px)
}


/****************************************/

/*checkout*/

/****************************************/

.checkTitle {
    font-family: "proxima_novasemibold";
    line-height: 75px;
    margin-bottom: 60px;
    padding-left: 30px;
}

.checkTitle > a {
    font-family: "proxima_nova_rgbold";
}

.checkout .cartTotal {
    margin-top: 0
}

.checkoutWrep .row > div {
    color: #333;
    margin-bottom: 25px;
}

.bill {
    color: #053652;
    font-family: "proxima_nova_rgbold";
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 23px;
    position: relative;
}

.bill::before {
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 40px;
}

.checkoutWrep .row > div span {
    display: block;
    font-family: "proxima_novasemibold";
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 15px;
}

.checkoutWrep .row > div input {
    border: 1px solid #e5e5e5;
    line-height: 50px;
    padding-left: 15px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 100%;
}

.checkoutWrep .row > div:nth-last-child(1),
.checkoutWrep .row > div:nth-last-child(2) {
    margin-bottom: 0
}


/***********************************/

/*blog page*/

/***********************************/

.singlePost .postContent {
    background: #f6fbff none repeat scroll 0 0;
    border: 1px solid #e8edf2;
    color: #8894a1;
    font-size: 14px;
    padding: 30px 25px;
    line-height: 25px;
}

.singlePost .postTitle.h4 {
    font-family: "proxima_nova_rgbold";
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

.singlePost .postDate {
    display: block;
    line-height: 14px;
    margin-bottom: 25px;
}

.singlePost .postImg {
    overflow: hidden
}

.singlePost .postImg a {
    display: block;
}

.singlePost .postImg img {
    -webkit-transition: .4s;
    transition: .4s;
    width: 100%;
    height: 225px;
}

.singlePost:hover .postImg img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.col-md-4:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) .singlePost {
    margin-top: 30px
}

.pagination {
    display: block;
    margin: 80px 0 0;
    text-align: center;
}

.pagination ul {
    display: inline-block;
    list-style: outside none none;
    margin: 0;
}

.pagination li {
    display: inline-block;
}

.pagination a {
    border: 1px solid #dfe9f1;
    color: #bababa;
    display: inline-block;
    font-family: "proxima_nova_rgbold";
    font-size: 12px;
    line-height: 30px;
    padding: 0 15px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}


/***************************************/

/*support page*/

/***************************************/

.serachForm > input[type="search"] {
    border: medium none;
    font-size: 16px;
    height: 60px;
    margin-bottom: 75px;
    padding-left: 20px;
    width: 100%;
}

.serachForm {
    position: relative;
}

.serachForm > input[type="submit"] {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-family: "fontawesome";
    font-size: 16px;
    line-height: 30px;
    margin: 15px;
    padding: 0 10px;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    top: 0
}

.serachForm > input[type="submit"]:hover {
    color: #141233;
}

.serachForm input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    opacity: 1;
    color: #fff
}

.serachForm input::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 1;
    color: #fff
}

.serachForm input:-ms-input-placeholder {
    /* IE 10+ */
    opacity: 1;
    color: #fff
}

.serachForm input:-moz-placeholder {
    /* Firefox 18- */
    opacity: 1;
    color: #fff
}

.supportTitle.h3 {
    font-family: "proxima_nova_rgbold";
    margin-bottom: 15px;
}

.supportForm .subTitle {
    font-size: 16px;
    margin-bottom: 35px;
}

.supportInput > input,
.supportInput > .supportSelect {
    display: inline-block;
    float: left;
    height: 60px;
    line-height: 60px;
    margin-bottom: 20px;
    width: calc(50% - 10px);
}

.supportInput {
    overflow: hidden;
    padding-right: 15px
}

.supportInput *::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    opacity: 1;
}

.supportInput *::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 1;
}

.supportInput *:-ms-input-placeholder {
    /* IE 10+ */
    opacity: 1;
}

.supportInput *:-moz-placeholder {
    /* Firefox 18- */
    opacity: 1;
}

.supportInput > input:first-child,
.supportInput .supportSelect {
    margin-right: 20px;
}

.supportInput > textarea {
    height: 220px;
    margin-bottom: 20px;
    width: 100%;
    padding-top: 20px;
    -webkit-transition: .4s;
    transition: .4s;
}

.supportInput > * {
    border: 1px solid #d9d9d9;
    padding-left: 30px;
    -webkit-transition: .4s;
    transition: .4s;
}

.supportInput .supportSelect {
    padding-left: 0;
    position: relative;
}

.supportSelect select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent none repeat scroll 0 0;
    border: medium none;
    height: 100%;
    vertical-align: top;
    width: 100%;
    padding-left: 30px;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
}

.supportInput .supportSelect:before {
    position: absolute;
    content: '\eb25';
    right: 0;
    top: 0;
    width: 10px;
    height: 10px;
    font-family: 'icofont';
    font-size: 16px;
    line-height: 60px;
    right: 15px;
    z-index: -1
}

.fileInput .inputfile {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
    cursor: pointer
}

.fileInput {
    background: #f9f9f9 none repeat scroll 0 0;
    color: #bebebe;
    height: 60px;
    line-height: 60px;
    margin-bottom: 20px;
    padding-left: 70px;
    position: relative;
    width: 65%;
    float: left;
    -webkit-transition: .4s;
    transition: .4s;
}

.fileInput label {
    color: #19b5fe;
    font-weight: unset;
    margin: 0;
    text-decoration: underline;
    -webkit-transition: .4s;
    transition: .4s;
}

.fileInput:before {
    color: #888888;
    content: "";
    font-family: "fontawesome";
    font-size: 16px;
    left: 30px;
    line-height: 60px;
    position: absolute;
    -webkit-transition: .4s;
    transition: .4s;
}

.fileInput:hover {
    background: #fff;
}

.captcha {
    background: #f6fbff none repeat scroll 0 0;
    color: #222222;
    float: left;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    margin-left: 20px;
    padding: 0;
    text-align: center;
    width: calc(35% - 20px);
    cursor: no-drop;
    margin-bottom: 20px
}

.captcha > span {
    background: #bdc9d3 none repeat scroll 0 0;
    border-radius: 4px;
    display: inline-block;
    height: 25px;
    margin-right: 17px;
    margin-top: 16.5px;
    vertical-align: top;
    width: 25px;
}

.supportInput > input[type="submit"] {
    border: medium none;
    float: left;
    font-family: "proxima_nova_rgbold";
    font-size: 17px;
    margin: 0;
    padding: 0;
    width: 240px;
}

/*********************************/

/*faq*/

/*********************************/

.faqTitle {
    background: #b1ea9f  none repeat scroll 0 0;
    color: #627891;
    font-family: "proxima_nova_rgbold";
    line-height: 24px;
    margin-bottom: 15px;
    padding: 13px 13px 13px 20px;
}

.singleFaq > p,
.singleFaq {
    font-family: "proxima_novalight";
    line-height: 26px;
    /* padding-right: 13px; */
}

.singleFaq {
    display: inline-block;
    width: 48%;
    margin-top: 30px;
    vertical-align: top
}

.singleFaq:nth-child(2n) {
    margin-left: 3%;
}

.singleFaq:first-child {
    margin-top: 0;
}

.singleFaq:nth-child(2n) {
    margin-top: 0;
}

/*********************************/

/*404 page*/

/*********************************/

.h1.errorTitle {
    font-size: 70px;
    line-height: 60px;
    margin-bottom: 30px;
    margin-top: 0;
}

.errorContent > span {
    font-size: 16px;
    line-height: 28px;
}

.errorContent > a {
    color: #222;
    display: inline-block;
    font-family: "proxima_nova_rgbold";
    font-size: 16px;
    margin-top: 20px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.eSearchImg {
    text-align: right;
}


/*************************************************/

/*************************************************/

/*************************************************/

/*color css*/

/* first bg */

header .topInfo li.clientAreaLi span,
.homeArea,
header .lang li:hover,
.domainTop > input[type="submit"],
.Btn,
.ctaTwo,
.domainCheck span > input:checked + label,
.clientLogin input[type="submit"],
.preloader,
.v2 header .langTxt,
.v2 header .topInfo li a,
header a.cart .count,
.v2 .homeBtn a.btnOne,
.v2 .domainArea:before,
.tstSlider .owl-nav div,
.aboutServiceArea,
.inputWrep > input[type="submit"],
.domainSearchArea .domainSearchForm input.submit,
.active .h4.singleDomainName::before,
.domainCtaArea,
.singleTst::before,
.boardMenu,
.boardMenu li a:hover,
.submitBtn > input,
.contactForm .contactSubmit,
.cartTable > li.cartHead,
.duration > span:hover,
.cartOpt > li,
.totalBtn,
.bill::before,
.pagination a:hover,
.pagination li.active a,
.commentInput > input[type="submit"],
.serachForm > input[type="search"],
.supportInput > input[type="submit"],
.eSearchForm > input[type="submit"],
.subsForm > input[type="submit"] {
    background: #70a84c;
    color: #fff;
}
.ctaTwo .ctaTxtTwo {
    font-size: 30px;
    font-family: 'proxima_novasemibold';
    margin-right: 100px;
    line-height: 50px;
}
.ctaTwo .ctaBtn {
    display: inline-block;
    vertical-align: middle;
}
.ctaTwo {
    padding: 60px 0;
    text-align: center;
}
.v2 header .topInfo li.clientAreaLi span,
.v2 header .langIcon,
.boardMenu li.active a {
    background: #1f80d7;
    color: #fff
}


/*secound bg*/

.homeBtn a.btnOne,
.ctaBtn .btnOne.Btn,
.v2 .domainBtn,
.tstSlider .owl-nav div:hover,
.domainCta .Btn.ctaBtn,
.cartOpt > li:hover,
.checkTitle {
    background: #233141;
    color: #fff;
}


/*primary color*/

header .langIcon,
header .topInfo li a,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.domainTop > input[type="search"],
.menuDiscount > span,
.v2 .homeContent span.h2,
.singleTst .clientName {
    color: #233141
}


/*secound color*/

.sectionTitle .h2 span,
.ctaBtn .btnTwo.Btn,
.footerLinkIcon li a:hover,
.mMenuCol .menuDiscount .h3,
.menuDiscount > a,
.clientLogin input[type="submit"] + .h5 a,
.v2 .homeContent span.topTxt,
.v2 .homeBtn a.btnTwo,
.footerLink > li a:hover,
.contactInfo span a:hover,
h4.price,
.singleTst > a:hover,
.boardTitle .h4,
ul.regDomains .domainName a:hover,
.contactInfoCell .h4,
span.closeIcon,
.checkTitle > a,
.author > span,
.dt_reply:hover,
.supportTitle.h3 span,
.fileInput:hover:before,
.h1.errorTitle,
.errorContent > a:hover {
    color: #70a84c
}

.singlePrice.active,
.priceCol:last-child .singlePrice.active,
.checkoutWrep .row > div input:focus,
.commentInput > *:focus,
.fileInput:hover,
.supportInput input:focus,
.supportInput select:focus,
.supportInput textarea:focus,
.eSearchForm > input:focus,
.subsForm > input:focus {
    box-shadow: 0 0 2px #70a84c;
}


/*border color*/

.singlePrice.active,
.priceCol:last-child .singlePrice.active,
#nav > li > ul.sub-menu li,
#nav > li ul.sub-menu li:first-child,
#nav > li ul.sub-menu li:last-child,
header nav#navbar ul > li.dropdown-megamenu .mega-menu,
.inputWrep,
.domainSearchArea .domainSearchForm input.serach:focus,
.accountInput input:focus,
.contactForm > div > input:focus,
.contactForm > div > textarea:focus,
.cartTable > li.cartHead div,
.checkoutWrep .row > div input:focus,
.commentInput > input[type="submit"],
.commentInput > *:focus,
.fileInput:hover,
.supportInput input:focus,
.supportInput select:focus,
.supportInput textarea:focus,
.eSearchForm > input:focus,
.subsForm > input:focus {
    border-color: #70a84c;
}

#nav > li > ul.sub-menu li {
    border-right-color: #70a84c
}

#nav > li > ul.sub-menu li,
.regDomains > li:hover {
    border-left-color: #70a84c
}

#nav > li ul.sub-menu li:first-child {
    border-top-color: #70a84c
}

#nav > li ul.sub-menu li:last-child,
#nav > li ul.sub-menu li:last-child,
.subPar > a::before,
.availableDomain.clearfix {
    border-bottom-color: #70a84c
}

.v2 .homeArea {
    background: #fff
}


/* button hover color*/

header .topInfo li.clientAreaLi span:hover,
.contactBtn.Btn:hover,
.Btn:hover,
.domainTop > input[type="submit"]:hover,
.inputWrep > input[type="submit"]:hover,
.domainSearchArea .domainSearchForm input.submit:hover,
.submitBtn > input:hover,
.supportInput > input[type="submit"]:hover,
.contactForm .contactSubmit input:hover,
.totalBtn:hover,
.commentInput > input[type="submit"]:hover,
.eSearchForm > input[type="submit"]:hover,
.subsForm > input[type="submit"]:hover {
    background: #3FA5FF;
}

.homeBtn a.btnOne:hover,
.ctaBtn .btnOne.Btn:hover,
.v2 .domainBtn:hover,
.domainCta .Btn.ctaBtn:hover,
.couponForm > button:hover {
    background: #365272;
}

.homeBtn a.btnTwo:hover,
.ctaBtn .btnTwo.Btn:hover {
    color: #233141;
}


/*button transition effect*/

header .topInfo li.clientAreaLi span,
.contactBtn.Btn,
.Btn,
.domainTop > input[type="submit"],
.inputWrep > input[type="submit"],
.domainSearchArea .domainSearchForm input.submit,
.submitBtn > input,
.supportInput > input[type="submit"],
.contactForm .contactSubmit input,
.totalBtn,
.commentInput > input[type="submit"],
.eSearchForm > input[type="submit"],
.subsForm > input[type="submit"],
.homeBtn a.btnOne,
.ctaBtn .btnOne.Btn,
.v2 .domainBtn,
.domainCta .Btn.ctaBtn,
.couponForm > button,
.homeBtn a.btnTwo,
.ctaBtn .btnTwo.Btn {
    -webkit-transition: .4s;
    transition: .4s;
}