.domainSearchArea {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../assets/img/domainheader-4.jpg);
    background-size:cover;
  min-height:100%;
  background-position: top;
}
.domainSearchArea .domainSearchForm {
    margin: 0 50px 20px;
}
.domainSearchArea .domainSearchForm .domainInput {
    margin: 20px auto;
    width: 70%;
    position: relative;
}
    .domainSearchArea .domainSearchForm .domainInput  .submit-btn{
    position: absolute;
    right: 5px;
    top:5px;
    background-image: linear-gradient(to right, #a5c963 0%, #4c9157 51%, #a5c963 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color:#ffffff;height: 43px;
    border-radius: 25px;
    padding: 0px 20px;
    letter-spacing: 1px;
    min-width: 98px;
}
.domainSearchArea .domainSearchForm .domainInput  .submit-btn:hover{
    background-position: right center;
}
.domainSearchArea .domainSearchForm input.serach {
    width: 100%;
    border-radius: 25px;
}
.domainSearchArea .domainSearchForm input.serach::placeholder,.domainSearchArea .domainSearchForm input.serach::-webkit-input-placeholder{
    color:#9aadbf;
}
.domainSearchArea  .domainCheck .domain-check-horizontal li{
    padding: 2px 1.25rem;
    text-align: center;
    margin-bottom: 10px;
    background: transparent;
    border-radius: 0;
}
.domainSearchArea  .domainCheck .domain-check-horizontal li:focus{
    outline: none;
}
.domainSearchArea  .domainCheck .domain-check-horizontal li a{
    color: #9aadbf;
    transition: 0.2s all ease-in-out;
}
.domainSearchArea  .domainCheck .domain-check-horizontal li a:hover{
    color: #70a84c;    cursor:pointer;
}
.domainSearchArea  .domainCheck .domain-check-horizontal li.domain-active a{
    color: #70a84c;
    cursor:unset;
}
.services-area{
    padding-top: 50px;
}
.services-area .column-split{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    max-width: 50%;
    flex: 0 0 50%;
    width: 50%;
}
.services-area .column-display{
display: inline-block;
}
.services-area .column-split:nth-of-type(1){
    max-width: 100%;
    flex: 0 0 100%;
    width: 100%;
}
.services-area .left-icon{
    font-size: 5rem;
    width:190px;
    float: left;
}
.services-area .left-icon img{
    width: 100%;
    padding-bottom: 10px;
}
.services-area .right-content{
    padding-left: 15px;
}
.services-area .right-content h2{
font-size: 20px;
text-transform: capitalize;
font-family: 'proxima_novasemibold';
cursor:pointer;
}
.services-area .right-content h2:hover{
    color: #70a84c;
}
.no-record-found{
    color:red;
    font-weight: 700;
    text-transform: capitalize;
}

    @media only screen and (max-width: 991px) and (min-width: 0px){

    .domainSearchArea .domainSearchForm .domainInput {
        width: 100%;
    }
    .services-area .column-split{
        max-width: 100%;
        flex: 0 0 100%;
        width: 100%;
    }
}
@media only screen and (max-width: 767px) and (min-width: 0px){

.domainSearchArea .domainCheck .domain-check-horizontal{
    flex-wrap: wrap;
}
.domainSearchArea .domainSearchForm {
    margin: 0 00px 20px;
}
.services-area .left-icon{
    width:100%;
    float: left;
}
.services-area .right-content{
    padding-left: 0;
}
}
