<!-- ======= PreLoader ====== -->
<div class="preloader" *ngIf="showLoading">
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>
  </div>
  <!-- ======= /PreLoader ====== -->
  
<!-- ======= 3.01 Domain Area ====== -->
<div class="domainSearchArea secPdng">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 clearfix">
                <form class="domainSearchForm  animated" action="" [ngSwitch]="domainselection.value">
                    <div class="domainInput" *ngSwitchDefault >
                        <input #input class="serach" type="search" name="search" placeholder="Search your domain" [value]="searchValue" (keyup)="onKey($event,domainselection.value)" (keydown)="onKeyDown($event)" #searchvalue >
                        <button class="btn submit-btn" type="submit" (click)="onSubmit(searchvalue.value,domainselection.value)">Search</button>
                    </div>
                    <div class="domainInput" *ngSwitchCase="'top-domain'">
                        <input #input class="serach" type="search" name="search" placeholder="Search your Top domain" [value]="searchValue" (keyup)="onKey($event,domainselection.value)" (keydown)="onKeyDown($event)" #searchvalue >
                        <button class="btn submit-btn" type="submit" (click)="onSubmit(searchvalue.value,domainselection.value)" >Search</button>
                    </div>
                    <div class="domainInput" *ngSwitchCase="'domain-suggestion'">
                        <input #input class="serach" type="search" name="search" placeholder="Search your domain suggestion" [value]="searchValue" (keyup)="onKey($event,domainselection.value)" (keydown)="onKeyDown($event)" #searchvalue >
                        <button class="btn submit-btn" type="submit" (click)="onSubmit(searchvalue.value,domainselection.value)" >Search</button>
                    </div>
                    <div class="domainInput" *ngSwitchCase="'domain-auction'">
                        <input #input class="serach" type="search" name="search" placeholder="Search your domain action" [value]="searchValue" (keyup)="onKey($event,domainselection.value)" (keydown)="onKeyDown($event)" #searchvalue >
                        <button class="btn submit-btn" type="submit" (click)="onSubmit(searchvalue.value,domainselection.value)" >Search</button>
                    </div>
                    <div class="domainInput" *ngSwitchCase="'expired-domain'">
                        <input #input class="serach" type="search" name="search" placeholder="Search your expired domain" [value]="searchValue" (keyup)="onKey($event,domainselection.value)" (keydown)="onKeyDown($event)" #searchvalue >
                        <button class="btn submit-btn" type="submit" (click)="onSubmit(searchvalue.value,domainselection.value)" >Search</button>
                    </div>
                    <div class="domainCheck">
                        <ul class="list-group domain-check-horizontal flex-row justify-content-center" #domainselection>
                            <li class="list-group-item border-top-0  border-bottom-0 border-left-0 border-right"  (click)="domainselection.value = 'all'"  [ngClass]="{'domain-active':domainselection.value === 'all' || domainselection.value === undefined}"><a >All</a></li>
                            <li class="list-group-item border-top-0  border-bottom-0 border-left-0  border-right" (click)="domainselection.value = 'top-domain'" [ngClass]="{'domain-active':domainselection.value === 'top-domain'}"><a >Top domains</a></li>
                            <li class="list-group-item border-top-0  border-bottom-0 border-left-0  border-right"  (click)="domainselection.value = 'domain-suggestion'" [ngClass]="{'domain-active':domainselection.value === 'domain-suggestion'}"><a >Domain suggestion</a></li>
                            <li class="list-group-item border-top-0  border-bottom-0 border-left-0  border-right"  (click)="domainselection.value = 'domain-auction'" [ngClass]="{'domain-active':domainselection.value === 'domain-auction'}"><a>Domain auction</a></li>
                            <li class="list-group-item border-0"  (click)="domainselection.value = 'expired-domain'"   [ngClass]="{'domain-active':domainselection.value === 'expired-domain'}"><a >Expired domain</a></li>
                          </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ======= /3.01 Domain Area ====== -->  

    <section class="services-area animated">

            <!-- =======  Service Area All ====== -->
        <div class="container">
            <div class="row mb-5" *ngIf="!showLoading">
                <div class="column-split" *ngFor="let highlight of highlights; let i = index;">
                    <div class="column-display mb-4" *ngIf="highlight.category">
                        <div class="left-icon text-center">
                            <img src={{highlight.img}} />
                        </div>
                        <div class="right-content ctaTxt"> 
                            <h2 (click)="openSubPage(highlight.title, highlight.id)">{{highlight.title}}</h2>
                            <p>{{highlight.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="no-record-found" *ngIf="errorResponse">
                    {{errorResponse}}
                </div>
            </div>
        </div>


    </section>
