    <!-- ======= 1.01 Header Area ====== -->
    <header class="fixedtop">

      <div class="headerBottomArea">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-md-5 col-sm-8 offset-sm-0 offset-lg-0 offset-md-0 col-8 order-lg-1 order-md-2  order-sm-2 order-2 text-lg-left text-sm-center text-xs-center text-center">
                      <a  [routerLink]="['/']" class="headerlogo">
                        <img src="assets/img/speedydomainlogo.png"  alt="" />
                        <span class="logo-title"><span class="logo logo-text-1">SPEEDY</span><span class="logo logo-text-2">DOMAIN</span><span class="logo logo-text-3">SEARCH</span></span>
                        </a>
                  </div>
                  <div class="col-lg-7 col-md-3 col-sm-2  menuCol col-2 order-lg-2 offset-lg-0 order-md-1 order-sm-1 order-1  nav-align-center">
                      <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                              <span class="sr-only"></span>
                              <i class="fa fa-navicon"></i>
                          </button>
                      </div>
                      <nav id="navbar" class="collapse navbar-collapse">
                          <ul id="nav">
                              <li class="border-right"  [routerLinkActive]="['current-menu-item']"><a [routerLink]="['/home']" class="home"><i class="icofont icofont-home align-middle icofont-1x mr-1"></i>Search</a>
                              </li>
                              <li class="border-right" [routerLinkActive]="['current-menu-item']"><a [routerLink]="['/domain-marketing']" >Domain Marketing</a></li>
                              <li [routerLinkActive]="['current-menu-item']"><a [routerLink]="['/branding']" >Branding</a></li>

                          </ul>
                      </nav>
                  </div>
                  <div class="col-lg-1 col-md-2 cartCol col-sm-2 offset-sm-0 offset-lg-0 offset-md-2 col-2 order-lg-3 order-md-3 order-sm-3 order-3 nav-align-center2">
                      <a (click)="opencart()" appClickStop class="cart" id="cart-dropdown-click-id" >
                          <span class="count animated" *ngIf="domaincartlist?.length > 0" id="detectcountchange">{{domaincartlist.length}}</span>
                          <i class="icofont icofont-cart-alt"></i>
                      </a>
                      <div class="cart-dropdown-menu animated" id="cart-dropdown-menu-id" [class.opened]="!show" *ngIf="domaincartlist?.length > 0">
                          <div  *ngFor="let domainlist of domaincartlist" class="d-flex list-hover">
                          <span class="float-left align-self-center pl-3 pr-2 close-button" (click)="removecartitem(domainlist)"><i class="fa fa-close"></i></span>
                          <a class="dropdown-item float-left" href="#">{{domainlist}}</a>
                          <p class="float-right buy-button  align-self-center mb-0">Buy</p>
                          </div>

                      </div>
                      <div class="cart-dropdown-menu animated" id="cart-dropdown-menu-id" [class.opened]="!show" *ngIf="domaincartlist?.length == 0">
                          <a class="dropdown-item" class="pl-3" href="#">No Domain Added</a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <!-- ======= /1.01 Header Area ====== -->
<router-outlet></router-outlet>

    <!-- ======= 1.08 ctaTwo Area ====== -->
    <div class="ctaTwo secMargT">
        <div class="container">
            <div class="row">
                <div class="col-md-12 animated">
                    <span class="ctaTxtTwo" i18n="@@introductionFooter">20,000+ People trust Sparks! Be one of them today.</span>
                    <div class="ctaBtn"><a href="#" class="btnOne Btn">Get Started now</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ======= /1.08 ctaTwo Area ====== -->

    <!-- ======= 1.09 footer Area ====== -->
    <footer class="secPdngT animated">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footerInfo">
                        <a  [routerLink]="['/']" class="footerLogo">
                            <img src="assets/img/speedydomainlogo.png"  alt="" />
                            <span class="logo-title"><span class="logo logo-text-1">SPEEDY</span><span class="logo logo-text-2">DOMAIN</span><span class="logo logo-text-3">SEARCH</span></span>
                            </a>
                        <div class="footerTxt">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui smod tincidunt ut laoreet dolore magna.</p>
                        </div>
                        <ul class="footerLinkIcon">
                            <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li> 
                            <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                            <li><a href="#"><i class="icofont icofont-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 offset-md-2">
                    <div class="widget">
                        <div class="h4">Speedy Domain Links</div>
                        <ul class="footerLink">
                            <li><a [routerLink]="['/faq']">FAQ</a></li>
                            <li><a [routerLink]="['/privacy']">Privacy</a></li>
                            <li><a [routerLink]="['/terms-of-use']">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contactInfo">
                        <div class="h4">contact with us</div>
                        <span class="call"><a href="tel:+214-5212-829"><i class="icofont icofont-ui-call"></i>+214-5212-829</a></span>
                        <span class="email"><a href="mailto:support@acestra.com"><i class="icofont icofont-ui-v-card"></i>support@spark.com</a></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="copyrightTxt">
                        <p>&copy; Copyright 2019 Acestra Inc. All Rights Reserved</p>

                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="list-group footer-menus-horizontal float-right">
                        <li class="list-group-item border-top-0  border-bottom-0 border-left-0 border-right"><a [routerLink]="['/']">English</a></li>
                        <li class="list-group-item border-top-0  border-bottom-0 border-left-0  border-right"><a [routerLink]="['/privacy']">Español</a></li>
                        <li class="list-group-item border-0"><a [routerLink]="['/terms-of-use']">Français</a></li>
                      </ul>
                </div>
            </div>
        </div>
    </footer>
