header a.home i{
    font-size: 17px;
    padding-right: 5px;
}

header.fixedtop{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 11111111;
    background: #fff;
}
header .headerBottomArea {
    padding: 0;
}
header .headerlogo , footer .footerLogo{
    height: unset;
    display: inline-block;
}
header .headerlogo img{
width: 100px;
height:100px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
}
footer .footerLogo img{
    width: 80px;
    height:80px;
}
header .headerlogo  .logo-title, footer .footerLogo .logo-title{
color:#4d4a46;
position: relative;
font-family: "Roboto";
width: 80px;
top: 20px;
left: 7px;
font-size: 18px;
font-weight: 900;
}
header .headerlogo  .logo-title .logo,footer .footerLogo .logo-title .logo{
float: left;
}
header .headerlogo  .logo-title .logo.logo-text-1,footer .footerLogo .logo-title .logo.logo-text-1{
letter-spacing: 1px;
}
header .headerlogo  .logo-title:before ,  footer .footerLogo .logo-title:before {
    content: 'SPEEDY';
    color: #87b74b;
    position: absolute;
    top: 0;
    left: 0;
    display: inline;
    font-family: "Roboto";
    letter-spacing: 1px;
}​

.hh{
  /* empty class dont remove */
}
header .nav-align-center,header .nav-align-center2{
align-self: center;
}
.navbar-toggle {
    outline: unset;
    border: 1px solid #288feb;
    border-radius: 5px;
    padding: 10px 10px;
}
.footer-menus-horizontal{
    flex-direction: row;
    padding: 50px 0 40px;
}
.footer-menus-horizontal li{
         padding: 0 1.25rem;
}
.footer-menus-horizontal li a{
    color: #9aadbf;
    font-size: 14px;
}
.footer-menus-horizontal li a:hover{
    color: #233141;
}

header a.cart {
    cursor: pointer;
    text-align: center;

}
header nav#navbar ul > li > a {
    line-height: 1;
}
header a.cart i{
    float:unset;
}
header a.cart .count {
    margin: 8px 0 0 0px;
    background-color: #70a84c;
    font-size: 12px;
}
.cart-dropdown-menu{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10.2rem;
    padding: .5rem 0;
    margin: 1.125rem 0 0;
    font-size: 1rem;

    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #eaeaea;
    border-radius: .25rem;
    font-family: 'proxima_novasemibold';
    animation: fadeOutDown 0.2s linear;


}
.cart-dropdown-menu.opened {
    display: block;
    animation: fadeInUp 0.2s linear;

}
.cart-dropdown-menu a{
    color: #9aadbf;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
}
.cart-dropdown-menu .buy-button{
    font-weight: bold;
    color: #28a745;
    display: inline-block;
    font-size: 14px;
    padding: 10px 15px 10px 5px;
}
.cart.eventdisabled{
pointer-events: none;
}

.list-hover:hover .dropdown-item, .list-hover:hover .buy-button  {
background-color: #f8f9fa;
cursor: pointer;
}
.list-hover:hover .close-button{
color:red;
cursor: pointer;
}

@media only screen and (max-width: 991px) and (min-width: 0px){
    header .nav-align-center{
        align-self: unset;
        }
        .navbar-header {
            top: 25px;
            left:0;
        }
        header nav#navbar {
         left: 0;
        right: 0;
        z-index: 11;
        }
    header nav#navbar ul li > a {
        line-height: 45px;
    }
header nav#navbar ul li.border-right {
    border-right:0!important;
}
.copyrightTxt {
    padding: 50px 0 40px;
}
}

@media only screen and (max-width: 767px) and (min-width: 0px){
    .menuCol {
        position: relative;
        top:unset;
    }
.copyrightTxt {
    padding: 10px 0;
    text-align: center;
}
.copyrightTxt p {
    text-align: center;

}
.footerInfo {
    text-align: center;

}
.footer-menus-horizontal{
    padding: 10px 0;
    text-align: center;
    float: unset!important;
    justify-content: center;
}
}
@media only screen and (max-width: 480px) and (min-width: 0px){
    .navbar-header {
        top: 0px;

    }
    header .headerBottomArea{
      padding: 25px 0;
    }
    header .headerlogo img{
      width: 50px;
      height: 50px;
      padding: 0;
    }
    header .headerlogo  .logo-title{
    font-size: 11px;
    line-height: 10px;
    }
    header .headerlogo  .logo-title{
        top: 10px;
        width: 50px;
    }
}
