#faq-accordion .card{
    margin-bottom:10px;
    border-radius: 0;
}
#faq-accordion .card .card-header {
  padding-top: 20px;
  padding-bottom:20px;
  cursor: pointer;
}
#faq-accordion .card .card-header .card-link{
font-size:18px;
font-family: 'proxima_novasemibold';
}
#faq-accordion .card .card-header .card-link i{
    font-size: 20px;
vertical-align: middle;
padding-right: 10px;
}
#faq-accordion .card .card-body{
  display: none;
  font-size:16px;
  padding-top: 25px;
  padding-bottom:25px;
  font-family: "proxima_novalight";
}
#faq-accordion .card .card-body.visible{
  display: block;
}
#faq-accordion .card .card-header.activeColor {
    background: #74aa47;
    color:#fff;
}
#faq-accordion .card .card-header .fa:before {
    content: "\f0aa";
    color:#74aa47;
}

#faq-accordion .card .card-header.activeColor .fa:before {
  content: "\f0ab";
  color:#fff;

}

.faq-section .faq-sidebar img{
    width:100%;
}
.pageTitleArea{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/img/faq.jpg');
    background-size: cover;
    background-position:bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .pageTitleArea .h2{
    color:#fff;
  }