<!-- ======= PreLoader ====== -->
<div class="preloader" *ngIf="showLoading">
  <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
  </div>
</div>
<!-- ======= /PreLoader ====== -->

<!-- ======= 2.01 Page Title Area ====== -->
    <div class="pageTitleArea animated">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pageTitle text-center">
                        <div class="h2">FAQs</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ======= /2.01 Page Title Area ====== -->

    <section class="secPdngT faqArea faq-section">
      <div class="container">
                <div class="row">
                  <div class="col-md-12">
                      <div class="sectionTitle animated">
                          <div class="h2">Have a question in mind? <br>Feel free to <span>check common questions.</span> </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12" *ngIf="!showLoading">
                      <div class="singleFaq animated"  *ngFor="let faqSection of faqSections; let i = index;">
                          <div class="faqTitle">{{faqSection.title}}</div>
                          <p>{{faqSection.description}}</p>
                      </div>
                  </div>
              </div>
      </div>
    </section>