<!-- ======= PreLoader ====== -->
<div class="preloader" *ngIf="showLoading">
  <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
  </div>
</div>
<!-- ======= /PreLoader ====== -->

<!-- ======= 2.01 Page Title Area ====== -->
  <div class="pageTitleArea animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pageTitle text-center">
                    <div class="h2">Branding</div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /2.01 Page Title Area ====== -->

<section class="secPdngT branding-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-9 col-md-8  mb-5">
            <div class="row mb-5" *ngIf="!showLoading">
              <div class="col-lg-4 col-md-6 branding-list" *ngFor="let branding of brandings | slice:0:showList ; let i = index;">
                  <div class="postImg">
                    <a (click)="openSubPage(branding.title,branding.id)"><img src={{branding.img}} alt=""></a>
                  </div>
                  <div class="postContent">
                    <a (click)="openSubPage(branding.title,branding.id)" class="postTitle h4">{{branding.title}}</a>
                    <div class="postDate">{{branding.date}}</div>
                    <div class="postExcerpt">
                        <p>{{branding.description}}</p>
                    </div>
                  </div>
                </div>
            </div>

            <div class="load-more-button text-center" *ngIf="!loadButtonHide">
              <a class="btn custom-button" (click)="loadMore()">Load More</a>
            </div>
            <div class="no-record-found" *ngIf="errorResponse">
              {{errorResponse}}
            </div>
            <!-- leaderboard banner -->
            <app-showcase spaceName="leaderboard_728x90" count="1"></app-showcase>
            
          </div>
          <div class="col-lg-3 col-md-4 branding-side-bar">
            <!-- popular -->
            <app-search-popular-trending SearchType="popular" SearchLimit="8"></app-search-popular-trending>

            <!-- trending -->
            <app-search-popular-trending SearchType="trending" SearchLimit="8"></app-search-popular-trending>

            <!-- popular articles -->
            <app-popular-articles></app-popular-articles>

            <!-- rectangle banner -->
            <app-showcase spaceName="rectangle_300x100" count="2"></app-showcase>
          </div>
        </div>
      </div>
</section>