/* branding  section */

.branding-section .branding-list .postImg {
    overflow: hidden;
}
.branding-section .branding-list .postImg a {
  display: block;
  cursor: pointer;
}
.branding-section .branding-list .postImg img {
  -webkit-transition: .4s;
  transition: .4s;
  width: 100%;
  height: 225px;
  background-color: #f3ffea;
  border-top: 1px solid #d3f0d3;
  border-left: 1px solid #d3f0d3;
  border-right: 1px solid #d3f0d3;
}
.branding-section .branding-list:hover .postImg img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.branding-section .branding-list  .postContent {
  background: #f3ffea none repeat scroll 0 0;
  border: 1px solid #d3f0d3;
  color: #8894a1;
  font-size: 14px;
  padding: 30px 25px;
  line-height: 25px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}
.branding-section .branding-list .postTitle.h4 {
  font-family: 'proxima_novasemibold';
  font-size: 20px;
  margin-bottom: 10px;
  display: block;
  cursor: pointer;
  color: #233141;
}
.branding-section .branding-list .postTitle.h4:hover {
  color:#70a84c;
}
.branding-section .branding-list .postDate {
  display: block;
  line-height: 14px;
  margin-bottom: 25px;
  font-style: italic;
}
.branding-section .load-more-button a{
  background-color: #70a84c;
  border-radius: 0;
  font-size: 20px;
  padding: 5px 50px;
  border:1px solid #70a84c;
  color:#fff;
  margin-bottom: 20px;
}
.branding-section .load-more-button a:hover,.branding-section .load-more-button a:not(:disabled):not(.disabled):active,.branding-section .load-more-button a:focus{
  background-color:  #fff;
  color:#70a84c;
}
.no-record-found{
  color:red;
  font-weight: 700;
  text-transform: capitalize;
}
.pageTitleArea{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/img/branding.jpg');
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.pageTitleArea .h2{
  color:#fff;
}
.no-record-found{
  color:red;
  font-weight: 700;
  text-transform: capitalize;
  word-break: break-word;
  word-break: break-word;
}