<div class="popular-articles-section">
  <div class="popular-articles-header-title">
  <h4>Popular Articles</h4>
</div>
<div class="popular-articles-body">
  <ul class="list-group custom-panel mb-3">
    <li class="list-group-item" *ngFor="let popularArticle of popularArticles; let i = index;">
    <img src={{popularArticle.img}} class="popular-article-img pull-left">
    <div class="pull-left right-content">
        <a (click)="openSubPage(popularArticle.title, popularArticle.id)">{{popularArticle.title}}</a>
        <div class="posted-date" >
        <em><i class="fa fa-clock-o"></i> {{popularArticle.date}}</em>
        </div>
        </div>
    </li>
    <li class="no-record-found" *ngIf="errorResponse">
      {{errorResponse}}
    </li>
</ul>
</div>
</div>