.domainSearchArea {
    /* background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(http://lorempixel.com/800/600/abstract/2); */
background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../assets/img/domainheader-4.jpg);
    background-size:cover;
  min-height:100%;
  background-position: top;
}
.domainSearchArea .domainSearchForm {
    margin: 0 50px 0px;
}
.domainSearchArea .domainSearchForm .domainInput {
    margin: 20px auto;
    width: 70%;
    position: relative;
}
.domainSearchArea .domainSearchForm .domainInput  .submit-btn{
    position: absolute;
    right: 5px;
    top:5px;
    background-image: linear-gradient(to right, #a5c963 0%, #4c9157 51%, #a5c963 100%);
    /* background: #70a84c; */
    transition: 0.5s;
    background-size: 200% auto;
    color:#ffffff;height: 43px;
    border-radius: 25px;
    /* padding: 0px 20px; */
    letter-spacing: 1px;
    min-width: 98px;
    line-height: 30px;
}
.domainSearchArea .domainSearchForm .domainInput  .submit-btn.bgColorTrue{
    background-image:linear-gradient(to right,  #28a745 0%, #28a745 51%, #28a745 100%);
}
.domainSearchArea .domainSearchForm .domainInput  .submit-btn.bgColorFalse{
    background-image:linear-gradient(to right,  #dc3545 0%, #dc3545 51%, #dc3545 100%);
}
.domainSearchArea .domainSearchForm .domainInput  .submit-btn:hover{
    background-position: right center;
}

.domainSearchArea .domainSearchForm input.serach {
    width: 100%;
    border-radius: 25px;
    padding-right: 140px;
    margin-bottom: 0;
}
.domainSearchArea .domainSearchForm input.serach::placeholder,.domainSearchArea .domainSearchForm input.serach::-webkit-input-placeholder{
    color:#9aadbf;
}
.domainSearchArea  .domainCheck .domain-check-horizontal li{
    padding: 2px 1.25rem;
    text-align: center;
    background: transparent;
    margin-bottom: 10px;
}
.domainSearchArea  .domainCheck .domain-check-horizontal li:focus{
    outline: none;
}
.domainSearchArea  .domainCheck .domain-check-horizontal li a{
    color: #9aadbf;
    transition: 0.2s all ease-in-out;
}
.domainSearchArea  .domainCheck .domain-check-horizontal li a:hover{
    color: #70a84c;    cursor:pointer;
}
.domainSearchArea  .domainCheck .domain-check-horizontal li.domain-active a{
    color: #70a84c;
    cursor:unset;
}
.domain-search-results{
    padding-top: 50px;
}
.domain-search-results .domain-available  .card-body{
    padding: 30px 10%;
}
.domain-search-results .domain-available .card-body h4{
    color:#7a828a;
    font-size: 30px;
}
.domain-search-results .domain-available .card-body h4 span.addtocarticon{
    /* color: #28a746; */

    font-size: 18px;
    cursor: pointer;
    padding-top: 10px;
    padding-right: 10px;
    color:#7a828a;
    /* position: absolute;

    left: 5%;
    top: 60%; */
}

.domain-search-results .domain-available .card-body h4 span.addtocarticon.addtocartactive i{
    color:#ffb365;
    }
.domain-search-results .domain-available  .card-body .domain-buy-button{
padding: 5px 50px;
font-size: 20px;
letter-spacing: 1px;
}
.domain-search-results .card-header {
    background-color: #70a84c;
    padding:  .15rem 1.25rem;
}
.domain-search-results .card-header h4 span {
color:#ffffff;
}

.domain-search-results .card-header.custom-card{
    background-color: transparent;
    padding: .75rem 1.25rem 0 1.25rem;
}
.domain-search-results .domain-search-categories img{
width: 100%;
}

.domain-search-results .domain-search-categories .category-nav-button{
    font-size: 20px;
}
.domain-search-results .domain-search-categories .category-list  li{
    position: relative;
    padding: 1rem 1rem 1rem 2rem;
}
.domain-search-results .domain-search-categories .category-list  li .addtocarticon{
    display: block;
    cursor: pointer;
    position: absolute;top: 50%;
    left: 13px;
    margin-top: -9px;
    cursor: pointer;
    text-align: center;
}
.domain-search-results .domain-search-categories .category-list  li:hover{
    color:#ffffff;
    background-color: #70a84c;
    height: 52px;
    padding: 1rem 1rem 1rem 0rem;
    /* margin-left: 2rem; */
}
.domain-search-results .domain-search-categories .category-list  li:hover a {
 background-color: #70a84c;
    color: #ffffff;display: inline-flex;z-index: 111; 
    position: absolute;overflow: visible;
    vertical-align: middle;
    align-self: center;
    padding: 1rem 0;
    top: 0;
}

.domain-search-results .domain-search-categories .category-list  li a{
    color:#7a828a;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    min-width: 100%; white-space: nowrap;
}
.domain-search-results .domain-search-categories .category-list  li a .domain-names{
    display: inline-block; 
    padding-left: 10px;    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

.domain-search-results .domain-search-categories .category-list  li:hover a  .domain-names{
    overflow: visible;
    padding-left: 42px;    
}
.domain-search-results .domain-search-categories .category-list  li:hover .addtocarticon{
        color:#ffffff;
        z-index: 1111;
}
    .domain-search-results .domain-search-categories .category-list  li .addtocarticon i:hover{
        color:#ffb365;
    }

    .domain-search-results .domain-search-categories .category-list  li .addtocartactive i{
    color:#ffb365;
    }
    .loadersection{
    padding: 100px 0;
    }
    .domain-search-results .domain-search-categories .category-list  li a .buy-button{
    font-weight: bold;
    color:#28a745;
    display: inline-block;
    font-size: 18px;
    padding-left: 10px;
    }
    .domain-search-results .domain-search-categories .category-list  li.no-item{
        font-size: 20px;
        color: #dc3545;
    }
    .domain-search-results .domain-search-categories .category-list  li:hover.no-item{
        background-color: unset;
        padding: 1rem 1rem 1rem 2rem;
    }
    .domain-search-results .domain-search-categories .category-list  li:hover a .buy-button{
        color:#fff;
        padding-right: 16px;
        padding-left: 30px;
    }

@media only screen and (max-width: 991px) and (min-width: 0px){
    .domain-search-results .domain-available  .card-body{
        padding: 1.25rem;
    }
    .domain-search-results .domain-search-categories h4{
font-size: 20px;
    }
    .domainSearchArea .domainSearchForm .domainInput {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) and (min-width: 0px){
.domain-search-results .domain-available  .card-body{
    padding: 30px 5%;
}
.domain-search-results .domain-available .card-body h4{
    font-size: 24px;
}
.domain-search-results .domain-available .card-body h4 span.addtocarticon{
    padding-top: 5px;
}
.domainSearchArea .domainCheck .domain-check-horizontal{
    flex-wrap: wrap;
}
.domainSearchArea .domainSearchForm {
    margin: 0px;
}
}
