<!-- ======= 3.01 Domain Area ====== -->
<div class="domainSearchArea">
    <div class="container">
        <div class="row ">
            <!-- <div class="col-md-12">
                <div class="sectionTitle animated">
                    <div class="h2">Find a perfect domain for you. <br>Search your domain here.</div>
                </div>
            </div> -->
            <div class="col-md-12 clearfix">
                <form class="domainSearchForm  animated" action="" >
                    <div class="domainInput">
                        <input  #input class="serach" type="search" name="search" placeholder="Search your domain" [value]="searchValue" (keyup)="onKey($event)" (keydown)="onKeyDown($event)"  #searchvalue >
                        <!-- <input class="submit" type="submit" name="submit" value="Search Domain"> -->
                        <button class="btn submit-btn" type="submit" (click)="onSubmit(searchvalue.value)">Search</button>
                        <div class="spinner-border text-warning loading-icon" *ngIf="loader" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                    </div>
                    <div class="domainCheck">
                        <ul class="list-group domain-check-horizontal flex-row justify-content-center">
                          <li class="list-group-item border-top-0  border-bottom-0 border-left-0 border-right" [routerLink]="['/search']" [routerLinkActive]="['domain-active']"  [ngClass]="{'domain-active': activeEnabled == true}" [queryParams]="{ search: searchvalue.value}" queryParamsHandling="merge"><a >All</a></li>
                          <li class="list-group-item border-top-0  border-bottom-0 border-left-0  border-right" [routerLink]="['/topdomain']" [routerLinkActive]="['domain-active']" [queryParams]="{ search: searchvalue.value}" queryParamsHandling="merge"><a >Top domains</a></li>
                          <li class="list-group-item border-top-0  border-bottom-0 border-left-0  border-right" [routerLink]="['/domainsuggestion']" [routerLinkActive]="['domain-active']" [queryParams]="{ search: searchvalue.value}" queryParamsHandling="merge"><a >Domain suggestion</a></li>
                          <li class="list-group-item border-top-0  border-bottom-0 border-left-0  border-right" [routerLink]="['/domainauction']" [routerLinkActive]="['domain-active']" [queryParams]="{ search: searchvalue.value}" queryParamsHandling="merge"><a >Domain auction</a></li>
                          <li class="list-group-item border-0" [routerLink]="['/expireddomain']" [routerLinkActive]="['domain-active']" [queryParams]="{ search: searchvalue.value}" queryParamsHandling="merge"><a >Expired domain</a></li>
                          </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="domain-search-results">
    <div class="container" *ngIf="domainobjects">
        <div class="row mb-5 ">
            <div class="col-md-12  ">
    <div class="card domain-available">
        <div class="card-header">
            <h4 class="mt-3"> <span>DOMAIN:</span> {{domainobjects.domainAvailability.domain}}</h4>
        </div>
        <div class="card-body align-items-center">
  
            <h4 class="float-left mt-2">
                <span class="addtocarticon float-left" (click)="addtocart(domainobjects.domainAvailability.domain)" [class.addtocartactive]="localdomainname(domainobjects.domainAvailability.domain) == true">
                    <i class="fa fa-star mr-2" ></i>
                </span>
                {{domainobjects.domainAvailability.domain}} is
             <span *ngIf="domainobjects.domainAvailability?.available == true" [style.color]="domainobjects.domainAvailability?.available == true ? '#28a745':'#dc3545'">AVAILABLE</span>
             <span *ngIf="domainobjects.domainAvailability?.available == false" [style.color]="domainobjects.domainAvailability?.available == false ? '#dc3545':'#28a745'">NOT AVAILABLE</span>
            </h4>
            <div class="btn-group float-right mt-2">
            <a href="#" class="btn btn-link domain-buy-button" *ngIf="domainobjects.domainAvailability?.available == true">{{domainobjects.domainAvailability.currency}} {{domainobjects.domainAvailability.price}}</a>
            <a href="#" class="btn btn-success domain-buy-button" *ngIf="domainobjects.domainAvailability?.available == true">Buy</a>
            <a href="#" class="btn btn-danger domain-buy-button" *ngIf="domainobjects.domainAvailability?.available == false">Whois</a>
        </div>
        </div>
      </div>
      </div>
    </div>
    <div class="row mb-5 domain-search-categories">
        <div class="col-md-4  mb-5 pb-2">
            <app-showcase spaceName="rectangle_300x100" count="3" minValue="0" maxValue="1"></app-showcase>
    <div class="card  border-0 mt-2">
    <div class="card-header custom-card  border-0 pl-0 pr-0">
    <h4 class="float-left mt-2">Top Domains</h4>
    <div *ngIf="domainobjects.topdomain?.length > 0">
    <a  class="btn btn-link float-right category-nav-button" [routerLink]="['/topdomain']" [queryParams]="{ search: searchvalue.value}" queryParamsHandling="merge">More <i class="fa fa-angle-right ml-2"></i></a>
    </div>
    </div>
    <div class="card-body align-items-center  border-top p-0">
        <ul class="list-group category-list" *ngIf="domainobjects.topdomain || domainobjects.topdomain?.length > 0">
            <li class="list-group-item  border-0" *ngFor="let topdomain of domainobjects.topdomain" >
                <span class="addtocarticon float-left" (click)="addtocart(topdomain.domain)" [class.addtocartactive]="localdomainname(topdomain.domain) == true">
                    <i class="fa fa-star mr-2" ></i>
                </span>
                 <a href="#" ><div class=" domain-names">{{topdomain.domain}}    </div> 
                    <p class="float-right buy-button mb-0">Buy</p>
                </a>

                </li>
        </ul>
        <ul class="list-group category-list" *ngIf="!domainobjects.topdomain || domainobjects.topdomain?.length === 0">
            <li class="list-group-item  no-item border-0">Not Available</li>
        </ul>
    </div>
  </div>
  </div>
  <div class="col-md-4  mb-5 pb-2">
    <app-showcase spaceName="rectangle_300x100" count="3" minValue="1" maxValue="2"></app-showcase>
    <div class="card border-0 mt-2">
        <div class="card-header custom-card  border-0 pl-0 pr-0">
            <h4 class="float-left mt-2">Suggestions</h4>
            <div *ngIf="domainobjects.suggestions?.length > 0">
            <a href="#" class="btn btn-link float-right category-nav-button" [routerLink]="['/domainsuggestion']" [queryParams]="{ search: searchvalue.value}" queryParamsHandling="merge">More <i class="fa fa-angle-right ml-2"></i></a>
            </div>
        </div>
        <div class="card-body align-items-center border-top p-0">
            <ul class="list-group  category-list" *ngIf="domainobjects.suggestions || domainobjects.suggestions?.length > 0">
                <li  class="list-group-item  border-0" *ngFor="let suggestions of domainobjects.suggestions">
                    <span class="addtocarticon" (click)="addtocart(suggestions.domain)" [class.addtocartactive]="localdomainname(suggestions.domain) == true"><i class="fa fa-star mr-2"></i></span>
                     <a href="#"><div class=" domain-names">{{suggestions.domain}}</div>

                        <p class="float-right buy-button  mb-0">Buy</p>
                     </a>
                    
                    </li >
            </ul>
                <ul class="list-group  category-list"  *ngIf="!domainobjects.suggestions || domainobjects.suggestions?.length === 0">
               <li class="list-group-item no-item  border-0"> Not Available</li>
                </ul>
        </div>
      </div>
      </div>
      <div class="col-md-4  mb-5 pb-2">
        <app-showcase spaceName="rectangle_300x100" count="3" minValue="0" maxValue="1"></app-showcase>

        <div class="card border-0 mt-2">
            <div class="card-header custom-card  border-0 pl-0 pr-0">
                <h4 class="float-left mt-2">Auction</h4>
                <div *ngIf="domainobjects.auction?.length > 0">
                <a href="#" class="btn btn-link float-right category-nav-button" [routerLink]="['/domainauction']" [queryParams]="{ search: searchvalue.value}" queryParamsHandling="merge">More <i class="fa fa-angle-right ml-2"></i></a>
                </div>
            </div>
            <div class="card-body align-items-center border-top p-0">
                <ul class="list-group  category-list"  *ngIf="domainobjects.auction || domainobjects.auction?.length > 0">
                    <li class="list-group-item  border-0" *ngFor="let auction of domainobjects.auction">
                        <span class="addtocarticon"  (click)="addtocart(auction.domain)" [class.addtocartactive]="localdomainname(auction.domain) == true">  <i class="fa fa-star mr-2"></i></span>
                         <a href="#"><div class=" domain-names">{{auction.domain}}</div>

                            <p class="float-right buy-button  mb-0">Buy</p>
                         </a>

                        </li>
                </ul>
                    <ul class="list-group  category-list" *ngIf="!domainobjects.auction || domainobjects.auction?.length === 0">
                        <li class="list-group-item no-item border-0"> Not Available</li>
                        </ul>
            </div>
          </div>
          </div>
</div>
    </div>
    <div class="container" *ngIf="!domainobjects">
        <div class="row">
            <div class="loadersection">
            <h4>Loading...</h4>
            </div>
        </div>

        </div>
      </section>
