<div class="banner-section">
<div class="banner-div" *ngFor="let banner of showCase | slice: minValue : maxValue; let i = index;">
<a href={{banner.link}}>
<img src={{banner.img}} alt={{banner.title}} class="img-fluid  mb-3"/>
</a>
</div>
<div class="no-record-found" *ngIf="errorResponse">
    {{errorResponse}}
  </div>
</div>