<!-- ======= PreLoader ====== -->
<div class="preloader" *ngIf="showLoading">
  <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
  </div>
</div>
<!-- ======= /PreLoader ====== -->

<!-- ======= 2.01 Page Title Area ====== -->
  <div class="pageTitleArea animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pageTitle text-center">
                    <div class="h2">Terms of Use</div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /2.01 Page Title Area ====== -->


  <section class="secPdngT terms-of-use-section">

    <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-1" *ngIf="!showLoading">
            <div class="terms-of-use-inner-section"  *ngFor="let termsofUseData of termsofUse; let i = index;">
          <div class="terms-of-use-title h3 animated">
            {{termsofUseData.title}}
          </div>
          <div class="terms-of-use-content animated" [innerHTML]="termsofUseData.description">
          </div>
        </div>
        </div>
        <div class="no-record-found" *ngIf="errorResponse">
          {{errorResponse}}
        </div>
        </div>
        </div>
  </section>