/* You can add global styles to this file, and also import other style files */
.loading-icon{
    position: absolute;
    top:15px;
    right:110px;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: text-bottom;
    border: .10em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;

}
@keyframes spinner-border{
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}