    <!-- ======= 2.01 Page Title Area ====== -->
    <div class="pageTitleArea animated">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pageTitle text-center">
                        <div class="h2">404</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ======= /2.01 Page Title Area ====== -->


        <div class="errorArea secPdng animated">
            <div class="container">
                <div class="row errRow secPdngT">
                    <div class="col-lg-5 offset-lg-1 col-md-6 offset-md-1">
                        <div class="errorContent">
                            <div class="h1 errorTitle">404 Error!</div>
                            <span>The page or content you are looking for cannot be found! <br>Please search or go back to home.</span>
                            <form action="#" class="eSearchForm">
                                <input type="search" placeholder="Type to search here">
                                <input type="submit" value="Search now">
                            </form>
                            <a (click)="goBack()" class="goBackBtn"><i class="icofont"></i> Go back to home</a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-4 errCol">
                        <div class="eSearchImg">
                            <img src="assets/img/icon/search.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
