.errorArea .eSearchImg img{
width: 60%;  
}
.errorArea .errorTitle {
  font-size: 70px;
  line-height: 60px;
  margin-bottom: 30px;
  margin-top: 0;
}
.errorArea .errorContent > span {
  font-size: 16px;
  line-height: 28px;
}
.errorArea .errorContent > a {
  color: #222;
  display: inline-block;
  font-family: "proxima_nova_rgbold";
  font-size: 16px;
  margin-top: 20px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.errorArea .eSearchForm {
  margin-top: 30px;
  overflow: hidden;
}
.errorArea .eSearchForm > input {
  background: #f6fbff none repeat scroll 0 0;
  border: 1px solid #dfe9f1;
  float: left;
  height: 50px;
  margin-left: 1px;
  padding-left: 20px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 274px;
}
.errorArea .eSearchForm > input[type="submit"]{
  background: #70a84c;
  color: #fff;
  cursor: pointer;
}
.errorArea .eSearchForm > input[type="submit"]:hover{
  background: #88cc5e;
}
.errorArea .eSearchForm > input[type="submit"] {
  font-family: "proxima_nova_rgbold";
  font-size: 16px;
  margin-left: 15px;
  padding: 0;
  width: 155px;
}
.errorArea .eSearchForm > input {
  background: #f6fbff none repeat scroll 0 0;
  border: 1px solid #dfe9f1;
  float: left;
  height: 50px;
  margin-left: 1px;
  padding-left: 20px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 274px;
}
.errorArea .goBackBtn{
  cursor: pointer;
}
.pageTitleArea{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/img/faq.jpg');
    background-size: cover;
    background-position:bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .pageTitleArea .h2{
    color:#fff;
  }